.swiperHomePageProject .swiper-button-next {
  left: auto !important;
}

.swiperHomePageProject .swiper-pagination-bullet {
  width: 2.5rem !important;
  height: 6px !important;
  border-radius: 20px !important;
  background: #ffffff !important;
}

.swiperHomePageProject .swiper-pagination-bullet-active {
  background: white !important;
}

.swiperHomePageProject .swiper-pagination {
  top: 20px !important;
  height: fit-content;
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
